/**
 * @package 	WordPress
 * @subpackage 	Dental Clinic
 * @version 	1.0.0
 * 
 * Theme Secondary Color Schemes Rules
 * Created by CMSMasters
 * 
 */

/***************** Start Header Color Scheme Rules ******************/

	/* Start Header Content Color */
	.header_mid,
	.header_mid_inner .social_wrap a, 
	.header_mid_inner .search_wrap.search_opened .search_bar_wrap button:before {
		color:#959595;
	}
	/* Finish Header Content Color */
	
	
	/* Start Header Primary Color */
	.header_mid a,
	.header_mid h1 a:hover,
	.header_mid h2 a:hover,
	.header_mid h3 a:hover,
	.header_mid h4 a:hover,
	.header_mid h5 a:hover,
	.header_mid h6 a:hover,
	.header_mid .color_2,
	.header_mid h1,
	.header_mid h2,
	.header_mid h3,
	.header_mid h4,
	.header_mid h5,
	.header_mid h6,
	.header_mid h1 a,
	.header_mid h2 a,
	.header_mid h3 a,
	.header_mid h4 a,
	.header_mid h5 a,
	.header_mid h6 a,
	.header_mid #navigation > li > a,
	.header_mid_inner .social_wrap a:hover {
		color:#373f50;
	}
	
	.header_mid .button:hover,
	.header_mid #navigation > li > a[data-tag]:before {
		background-color:#373f50;
	}
	/* Finish Header Primary Color */
	
	
	/* Start Header Rollover Color */
	.header_mid_inner .search_wrap button:before,
	.header_mid a:hover,
	.header_mid #navigation > li > a:hover,
	.header_mid #navigation > li.current-menu-item > a,
	.header_mid #navigation > li.current_page_item > a,
	.header_mid #navigation > li.menu-item-highlight > a {
		color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li:hover > a {
			color:#07a7e3;
		}
	}
	
	.header_mid .button,
	.header_mid #navigation > li > a > span.nav_bg_clr,
	.header_mid #navigation > li.menu-item-highlight > a > span.nav_bg_clr,
	.header_mid #navigation > li > a[data-tag]:hover:before,
	.header_mid #navigation > li.current-menu-item > a[data-tag]:before,
	.header_mid #navigation > li.menu-item-highlight > a[data-tag]:before {
		background-color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li:hover > a[data-tag]:before {
			background-color:#07a7e3;
		}
	}
	/* Finish Header Rollover Color */
	
	
	/* Start Header Subtitle Color */
	.header_mid #navigation > li > a > span > span.nav_subtitle {
		color:#959595;
	}
	/* Finish Header Subtitle Color */
	
	
	/* Start Header Background Color */
	.header_mid .button,
	.header_mid .button:hover,
	.header_mid #navigation > li > a[data-tag]:before {
		color:#ffffff;
	}
	
	.header_mid input[type=text]:focus,
	.header_mid input[type=number]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid input[type=search]:focus,
	.header_mid textarea:focus,
	.header_mid_outer {
		background-color:#ffffff;
	}
	/* Finish Header Background Color */
	
	
	/* Start Header Background Color on Scroll */
	.header_mid_scroll .header_mid_outer {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid_outer {
			background-color:#ffffff;
		}
	}
	/* Finish Header Background Color on Scroll */
	
	
	/* Start Header Current Item Color */
	@media only screen and (min-width: 1024px) {
		.header_mid_inner #navigation > li.current-menu-item > a, 
		.header_mid_inner #navigation > li.current-menu-ancestor > a {
			color:#ffffff;
		}
	}
	/* Finish Header Current Item Color */
	
	
	/* Start Header Current Item Secondary Background Color */
	.call_us *[class^="cmsms-icon-"]:before, 
	.call_us *[class*=" cmsms-icon-"]:before {
		color:#07a7e3;
	}
	
	.header_mid input[type=text]:focus,
	.header_mid input[type=email]:focus,
	.header_mid input[type=password]:focus,
	.header_mid input[type=search]:focus,
	.header_mid textarea:focus {
		border-color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid_inner #navigation > li.current-menu-item > a, 
		.header_mid_inner #navigation > li.current-menu-ancestor > a {
			background: #07a7e3;
			background: -webkit-gradient(linear, left top, right top, from(#07a7e3), to(#07a7e3)); 
			background: -webkit-linear-gradient(left, #07a7e3, #07a7e3); 
			background: -moz-linear-gradient(left, #07a7e3, #07a7e3); 
			background: -ms-linear-gradient(left, #07a7e3, #07a7e3); 
			background: -o-linear-gradient(left, #07a7e3, #07a7e3); 
			background: linear-gradient(to right, #07a7e3, #07a7e3);
		}
	}
	/* Finish Header Current Item Secondary Rollover Background Color */
	
	
	/* Start Header Borders Color */
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=search],
	.header_mid input[type=submit],
	.header_mid textarea,
	.header_mid select,
	.header_mid option {
		border-color:#e5e5e5;
	}
	
	.header_mid hr,
	.header_mid .cmsms_divider {
		border-bottom-color:#e5e5e5;
	}
	/* Finish Header Borders Color */
	
	
	/* Start Header Dropdown Link Color */
	.header_mid #navigation > li:not(.menu-item-mega) ul li > a[data-tag]:hover:before, 
	.header_mid #navigation > li:not(.menu-item-mega) ul li.current-menu-item > a[data-tag]:before,
	.header_mid #navigation > li:not(.menu-item-mega) ul li.menu-item-highlight > a[data-tag]:before,
	.header_mid #navigation > li.menu-item-mega li li:hover > a[data-tag]:hover:before,
	.header_mid #navigation > li.menu-item-mega li li.current-menu-item > a[data-tag]:before, 
	.header_mid #navigation > li.menu-item-mega li li.menu-item-highlight > a[data-tag]:before,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children:hover > a,
	.header_mid #navigation ul li a {
		color:#373f50;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid .cmsms-resp-nav-toggle,
		.header_mid #navigation > li > a[data-tag]:hover:before,
		.header_mid #navigation > li.current-menu-item > a[data-tag]:before,
		.header_mid #navigation > li.current_page_item > a[data-tag]:before,
		.header_mid #navigation > li.menu-item-highlight > a[data-tag]:before,
		.header_mid #navigation > li > a {
			color:#373f50;
		}
	}
	
	.header_mid #navigation ul li > a[data-tag]:before {
		background-color:#373f50;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a[data-tag]:before {
			background-color:#373f50;
		}
	}
	/* Finish Header Dropdown Link Color */
	
	
	/* Start Header Dropdown Rollover Color */
	.header_mid #navigation ul li > a:hover,
	.header_mid #navigation ul li.current-menu-item > a,
	.header_mid #navigation ul li.current_page_item > a,
	.header_mid #navigation > li li.menu-item-highlight > a,
	.header_mid #navigation > li li.menu-item-highlight > a:hover,
	.header_mid #navigation > li.menu-item-mega li > a:hover,
	.header_mid #navigation > li.menu-item-mega li li > a:hover,
	.header_mid #navigation > li.menu-item-mega > ul > li > a,
	.header_mid #navigation > li.menu-item-mega > ul > li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.current_page_item > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li.current-menu-ancestor > a,
		.header_mid #navigation ul li.current-menu-ancestor > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children.current-menu-ancestor > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a:hover,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-has-children > a[href]:hover,
		.header_mid #navigation > li > a:hover,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a,
		.header_mid #navigation > li.menu-item-highlight > a,
		.header_mid #navigation > li > a:hover > span > span.nav_subtitle,
		.header_mid #navigation > li.current-menu-item > a > span > span.nav_subtitle,
		.header_mid #navigation > li.current_page_item > a > span > span.nav_subtitle,
		.header_mid #navigation > li.menu-item-highlight > a > span > span.nav_subtitle {
			color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-ancestor > a,
		.header_mid #navigation ul li.current-menu-ancestor > a,
		.header_mid #navigation > li.current-menu-ancestor > a,
		.header_mid #navigation > li.current-menu-ancestor > a > span > span.nav_subtitle,
		.header_mid #navigation > li.menu-item-mega > ul > li > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a,
		.header_mid #navigation ul li:hover > a,
		.header_mid #navigation > li li.menu-item-highlight:hover > a,
		.header_mid #navigation > li.menu-item-mega li:hover > a,
		.header_mid #navigation > li.menu-item-mega > ul > li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#ffffff;
		}
	}
	
	.header_mid #navigation > li:not(.menu-item-mega) ul li > a[data-tag]:hover:before, 
	.header_mid #navigation > li:not(.menu-item-mega) ul li.current-menu-item > a[data-tag]:before,
	.header_mid #navigation > li:not(.menu-item-mega) ul li.menu-item-highlight > a[data-tag]:before,
	.header_mid #navigation > li.menu-item-mega li li:hover > a[data-tag]:hover:before,
	.header_mid #navigation > li.menu-item-mega li li.current-menu-item > a[data-tag]:before, 
	.header_mid #navigation > li.menu-item-mega li li.menu-item-highlight > a[data-tag]:before {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a[data-tag]:hover:before,
		.header_mid #navigation > li.current-menu-item > a[data-tag]:before,
		.header_mid #navigation > li.current_page_item > a[data-tag]:before,
		.header_mid #navigation > li.menu-item-highlight > a[data-tag]:before {
			background-color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li:not(.menu-item-mega) ul li:hover > a[data-tag]:before {
			background-color:#ffffff;
		}
	}
	/* Finish Header Dropdown Rollover Color */
	
	
	/* Start Header Dropdown Subtitle Color */
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover > span > span.nav_subtitle,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle {
		color:#bebebe;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a > span > span.nav_subtitle {
			color:#bebebe;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a > span > span.nav_subtitle {
			color:#bebebe;
		}
	}
	/* Finish Header Dropdown Subtitle Color */
	
	
	/* Start Header Dropdown Background Color */
	.header_mid #navigation ul li > a[data-tag]:before {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a[data-tag]:before {
			color:#ffffff;
		}
	}
	
	.header_mid input[type=text],
	.header_mid input[type=number],
	.header_mid input[type=email],
	.header_mid input[type=password],
	.header_mid input[type=search],
	.header_mid input[type=submit],
	.header_mid button,
	.header_mid textarea,
	.header_mid select,
	.header_mid option,
	.header_mid #navigation ul,
	.header_mid #navigation > li.menu-item-mega li > a:hover,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_mid nav .cmsms-resp-nav-toggle,
		.header_mid #navigation {
			background-color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_mid #navigation > li.menu-item-mega li:hover > a {
			background-color:#ffffff;
		}
	}
	/* Finish Header Dropdown Background Color */
	
	
	/* Start Header Dropdown Rollover Background Color */
	.header_mid #navigation ul li > a:after {
		background: #07a7e3;
		background: -webkit-gradient(linear, left top, right top, from(#07a7e3), to(#37d6c0)); 
		background: -webkit-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -moz-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -ms-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -o-linear-gradient(left, #07a7e3, #37d6c0); 
		background: linear-gradient(to right, #07a7e3, #37d6c0);
	}
	
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation > li > a:hover,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a,
		.header_mid #navigation > li > a > span.nav_bg_clr,
		.header_mid #navigation > li.menu-item-highlight > a > span.nav_bg_clr, 
		.header_mid #navigation > li.menu-item-mega > div > ul > li > a:hover, 
		.header_mid #navigation > li.menu-item-mega > div > ul > li.current-menu-item > a {
			background-color:#07a7e3;
		}
	}
	/* Finish Header Dropdown Rollover Background Color */
	
	
	/* Start Header Dropdown Borders Color */
	@media only screen and (max-width: 1024px) {
		.header_mid #navigation .cmsms-resp-nav-toggle, 
		.header_mid #navigation li a, 
		.header_mid #navigation > li > a:hover,
		.header_mid #navigation > li.current-menu-item > a,
		.header_mid #navigation > li.current_page_item > a {
			border-color:#e5e5e5;
		}
	}
	/* Finish Header Dropdown Borders Color */
	
	
	/* Start Header Custom Rules */
	.header_mid ::selection {
		background:#373f50;
		color:#ffffff;
	}
	
	.header_mid ::-moz-selection {
		background:#373f50;
		color:#ffffff;
	}
	
	.header_mid #navigation > li:not(.menu-item-mega) ul,
	.header_mid #navigation > li.menu-item-mega > div.menu-item-mega-container {
		-webkit-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		-moz-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
	}
	
	/* Finish Header Custom Rules */

/***************** Finish Header Color Scheme Rules ******************/



/***************** Start Header Bottom Color Scheme Rules ******************/

	/* Start Header Bottom Content Color */
	.header_bot, 
	.header_bot .social_wrap a, 
	.header_bot .search_wrap .search_bar_wrap button:before {
		color:#959595;
	}
	/* Finish Header Bottom Content Color */
	
	
	/* Start Header Bottom Primary Color */
	.header_bot a,
	.header_bot h1 a:hover,
	.header_bot h2 a:hover,
	.header_bot h3 a:hover,
	.header_bot h4 a:hover,
	.header_bot h5 a:hover,
	.header_bot h6 a:hover,
	.header_bot .color_2,
	.header_bot h1,
	.header_bot h2,
	.header_bot h3,
	.header_bot h4,
	.header_bot h5,
	.header_bot h6,
	.header_bot h1 a,
	.header_bot h2 a,
	.header_bot h3 a,
	.header_bot h4 a,
	.header_bot h5 a,
	.header_bot h6 a,
	.header_bot #navigation > li > a,
	.header_bot .social_wrap a:hover {
		color:#373f50;
	}
	
	.header_bot .button:hover,
	.header_bot #navigation > li > a[data-tag]:before {
		background-color:#373f50;
	}
	
	.header_bot input[type=text]:focus,
	.header_bot input[type=email]:focus,
	.header_bot input[type=password]:focus,
	.header_bot input[type=search]:focus,
	.header_bot textarea:focus {
		border-color:#373f50;
	}
	/* Finish Header Bottom Primary Color */
	
	
	/* Start Header Bottom Rollover Color */
	.header_bot a:hover,
	.header_bot .button,
	.header_bot #navigation > li > a:hover,
	.header_bot #navigation > li.current-menu-item > a,
	.header_bot #navigation > li.current_page_item > a,
	.header_bot #navigation > li.menu-item-highlight > a {
		color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.current-menu-ancestor > a,
		.header_bot #navigation > li.current-menu-ancestor > a > span > span.nav_subtitle,
		.header_bot #navigation > li:hover > a {
			color:#07a7e3;
		}
	}
	
	.header_bot #navigation > li > a > span.nav_bg_clr,
	.header_bot #navigation > li.menu-item-highlight > a > span.nav_bg_clr, 
	.header_bot #navigation > li > a[data-tag]:hover:before, 
	.header_bot #navigation > li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-highlight > a[data-tag]:before {
		background-color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:hover > a[data-tag]:before {
			background-color:#07a7e3;
		}
	}
	/* Finish Header Bottom Rollover Color */
	
	
	/* Start Header Bottom Subtitle Color */
	.header_bot #navigation > li > a > span > span.nav_subtitle {
		color:#959595;
	}
	/* Finish Header Bottom Subtitle Color */
	
	
	/* Start Header Bottom Background Color */
	.header_bot #navigation > li > a[data-tag]:before {
		color:#ffffff;
	}
	
	.header_bot input[type=text]:focus,
	.header_bot input[type=number]:focus,
	.header_bot input[type=email]:focus,
	.header_bot input[type=password]:focus,
	.header_bot input[type=search]:focus,
	.header_bot textarea:focus,
	.header_bot_outer {
		background-color:#ffffff;
	}
	/* Finish Header Bottom Background Color */
	
	
	/* Start Header Bottom Background Color on Scroll */
	.header_bot_scroll .header_bot_outer {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot_outer {
			background-color:#ffffff;
		}
	}
	/* Finish Header Bottom Background Color on Scroll */
	
	
	/* Start Header Bottom Rollover Background Color */
	.header_bot .search_wrap.search_opened .search_bar_wrap, 
	.header_bot .search_wrap .search_bar_wrap input[type=text],
	.header_bot .search_wrap .search_bar_wrap input[type=text]:focus {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 767px) {
		#header .header_bot .search_wrap .search_bar_wrap {
			background-color:#07a7e3;
		}
	}
	/* Finish Header Bottom Rollover Background Color */
	
	
	/* Start Header Borders Color */
	.header_bot .search_wrap .search_bar_wrap {
		background-color:#e5e5e5;
	}
	
	.header_bot,
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=seach],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option {
		border-color:#e5e5e5;
	}
	
	.header_bot hr,
	.header_bot .cmsms_divider {
		border-bottom-color:#e5e5e5;
	}
	/* Finish Header Bottom Borders Color */
	
	
	/* Start Header Bottom Dropdown Link Color */
	.header_bot #navigation > li:not(.menu-item-mega) ul li > a[data-tag]:hover:before, 
	.header_bot #navigation > li:not(.menu-item-mega) ul li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li:not(.menu-item-mega) ul li.menu-item-highlight > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-mega li li:hover > a[data-tag]:hover:before,
	.header_bot #navigation > li.menu-item-mega li li.current-menu-item > a[data-tag]:before, 
	.header_bot #navigation > li.menu-item-mega li li.menu-item-highlight > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-has-children > a[href]:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children:hover > a,
	.header_bot #navigation ul li a {
		color:#373f50;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation .cmsms-resp-nav-toggle,
		.header_bot #navigation > li > a[data-tag]:hover:before,
		.header_bot #navigation > li.current-menu-item > a[data-tag]:before,
		.header_bot #navigation > li.current_page_item > a[data-tag]:before,
		.header_bot #navigation > li.menu-item-highlight > a[data-tag]:before,
		.header_bot #navigation > li > a {
			color:#373f50;
		}
	}
	
	.header_bot #navigation ul li > a[data-tag]:before {
		background-color:#373f50;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a[data-tag]:before {
			background-color:#373f50;
		}
	}
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-ancestor.menu-item-has-children > a {
			color:#373f50;
		}
	}
	/* Finish Header Bottom Dropdown Link Color */
	
	
	/* Start Header Bottom Dropdown Rollover Color */
	.header_bot #navigation ul li > a:hover,
	.header_bot #navigation ul li.current-menu-item > a,
	.header_bot #navigation ul li.current_page_item > a,
	.header_bot #navigation > li li.menu-item-highlight > a,
	.header_bot #navigation > li li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega li > a:hover,
	.header_bot #navigation > li.menu-item-mega li li > a:hover,
	.header_bot #navigation > li.menu-item-mega > ul > li > a,
	.header_bot #navigation > li.menu-item-mega > ul > li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-item > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current_page_item > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a[href]:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a:hover {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li.current-menu-ancestor > a,
		.header_bot #navigation ul li.current-menu-ancestor > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children.current-menu-ancestor > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-has-children > a:hover,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li.menu-item-has-children > a[href]:hover,
		.header_bot #navigation > li > a:hover,
		.header_bot #navigation > li.current-menu-item > a,
		.header_bot #navigation > li.current_page_item > a,
		.header_bot #navigation > li.menu-item-highlight > a,
		.header_bot #navigation > li > a:hover > span > span.nav_subtitle,
		.header_bot #navigation > li.current-menu-item > a > span > span.nav_subtitle,
		.header_bot #navigation > li.current_page_item > a > span > span.nav_subtitle,
		.header_bot #navigation > li.menu-item-highlight > a > span > span.nav_subtitle {
			color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega > ul > li > a,
		.header_bot #navigation ul li:hover > a,
		.header_bot #navigation > li li.menu-item-highlight:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.current-menu-ancestor > a,
		.header_bot #navigation ul li.current-menu-ancestor > a,
		.header_bot #navigation > li.menu-item-mega li:hover > a,
		.header_bot #navigation > li.menu-item-mega > ul > li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul li li:hover > a,
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container li.menu-item-highlight:hover > a {
			color:#ffffff;
		}
	}
	
	.header_bot #navigation > li:not(.menu-item-mega) ul li > a[data-tag]:hover:before, 
	.header_bot #navigation > li:not(.menu-item-mega) ul li.current-menu-item > a[data-tag]:before,
	.header_bot #navigation > li:not(.menu-item-mega) ul li.menu-item-highlight > a[data-tag]:before,
	.header_bot #navigation > li.menu-item-mega li li:hover > a[data-tag]:hover:before,
	.header_bot #navigation > li.menu-item-mega li li.current-menu-item > a[data-tag]:before, 
	.header_bot #navigation > li.menu-item-mega li li.menu-item-highlight > a[data-tag]:before {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a[data-tag]:hover:before,
		.header_bot #navigation > li.current-menu-item > a[data-tag]:before,
		.header_bot #navigation > li.current_page_item > a[data-tag]:before,
		.header_bot #navigation > li.menu-item-highlight > a[data-tag]:before {
			background-color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li:not(.menu-item-mega) ul li:hover > a[data-tag]:before {
			background-color:#ffffff;
		}
	}
	/* Finish Header Bottom Dropdown Rollover Color */
	
	
	/* Start Header Bottom Dropdown Subtitle Color */
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a:hover > span > span.nav_subtitle,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li > a > span > span.nav_subtitle {
		color:#bebebe;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a > span > span.nav_subtitle {
			color:#bebebe;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container > ul > li:hover > a > span > span.nav_subtitle {
			color:#bebebe;
		}
	}
	/* Finish Header Bottom Dropdown Subtitle Color */
	
	
	/* Start Header Bottom Dropdown Background Color */
	.header_bot #navigation ul li > a[data-tag]:before {
		color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a[data-tag]:before {
			color:#ffffff;
		}
	}
	
	.header_bot input[type=text],
	.header_bot input[type=number],
	.header_bot input[type=email],
	.header_bot input[type=password],
	.header_bot input[type=search],
	.header_bot input[type=submit],
	.header_bot button,
	.header_bot textarea,
	.header_bot select,
	.header_bot option,
	.header_bot #navigation ul,
	.header_bot #navigation > li.menu-item-mega li > a:hover,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		html #page #header .header_bot nav .cmsms-resp-nav-toggle,
		.header_bot #navigation {
			background-color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_bot #navigation > li.menu-item-mega li:hover > a {
			background-color:#ffffff;
		}
	}
	/* Finish Header Bottom Dropdown Background Color */
	
	
	/* Start Header Bottom Dropdown Rollover Background Color */
	.header_bot #navigation ul li > a:after {
		background: #07a7e3;
		background: -webkit-gradient(linear, left top, right top, from(#07a7e3), to(#37d6c0)); 
		background: -webkit-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -moz-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -ms-linear-gradient(left, #07a7e3, #37d6c0); 
		background: -o-linear-gradient(left, #07a7e3, #37d6c0); 
		background: linear-gradient(to right, #07a7e3, #37d6c0);
	}
	
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation > li > a > span.nav_bg_clr,
		.header_bot #navigation > li.menu-item-highlight > a > span.nav_bg_clr {
			background-color:#07a7e3;
		}
		
		.header_bot #navigation > li > a:after {
			background: #07a7e3;
			background: -webkit-gradient(linear, left top, right top, from(#07a7e3), to(#37d6c0)); 
			background: -webkit-linear-gradient(left, #07a7e3, #37d6c0); 
			background: -moz-linear-gradient(left, #07a7e3, #37d6c0); 
			background: -ms-linear-gradient(left, #07a7e3, #37d6c0); 
			background: -o-linear-gradient(left, #07a7e3, #37d6c0); 
			background: linear-gradient(to right, #07a7e3, #37d6c0);
		}
	}
	/* Finish Header Bottom Dropdown Rollover Background Color */
	
	
	/* Start Header Bottom Dropdown Borders Color */
	@media only screen and (max-width: 1024px) {
		.header_bot #navigation .cmsms-resp-nav-toggle,
		.header_bot #navigation li a, 
		.header_bot #navigation > li > a:hover,
		.header_bot #navigation > li.current-menu-item > a,
		.header_bot #navigation > li.current_page_item > a {
			border-color:#e5e5e5;
		}
	}
	/* Finish Header Bottom Dropdown Borders Color */
	
	
	/* Start Header Bottom Custom Rules */
	.header_bot ::selection {
		background:#373f50;
		color:#ffffff;
	}
	
	.header_bot ::-moz-selection {
		background:#373f50;
		color:#ffffff;
	}
	
	.header_bot #navigation > li:not(.menu-item-mega) ul,
	.header_bot #navigation > li.menu-item-mega > div.menu-item-mega-container {
		-webkit-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		-moz-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
	}
	
	/* Finish Header Bottom Custom Rules */

/***************** Finish Header Bottom Color Scheme Rules ******************/



/***************** Start Header Top Color Scheme Rules ******************/

	/* Start Header Top Content Color */
	.header_top,
	.header_top_inner .meta_wrap, 
	.header_top_inner .social_wrap a {
		color:#959595;
	}
	/* Finish Header Top Content Color */
	
	
	/* Start Header Top Primary Color */
	.header_top a,
	.header_top h1 a:hover,
	.header_top h2 a:hover,
	.header_top h3 a:hover,
	.header_top h4 a:hover,
	.header_top h5 a:hover,
	.header_top h6 a:hover,
	.header_top .color_2,
	.header_top h1,
	.header_top h2,
	.header_top h3,
	.header_top h4,
	.header_top h5,
	.header_top h6,
	.header_top h1 a,
	.header_top h2 a,
	.header_top h3 a,
	.header_top h4 a,
	.header_top h5 a,
	.header_top h6 a,
	.header_top_inner .meta_wrap a, 
	.responsive_top_nav, 
	.header_top #top_line_nav > li > a {
		color:#151515;
	}
	
	.header_top .button:hover {
		background-color:#151515;
	}
	
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top input[type=search]:focus,
	.header_top textarea:focus {
		border-color:#151515;
	}
	/* Finish Header Top Primary Color */
	
	
	/* Start Header Top Rollover Color */
	.meta_wrap > div[class^="cmsms-icon-"]:before,
	.meta_wrap > div[class^="cmsms_theme_icon_"]:before,
	.meta_wrap > div[class*="cmsms-icon-"]:before,
	.meta_wrap > div[class*="cmsms_theme_icon_"]:before,
	.responsive_top_nav:hover,
	.responsive_top_nav.active, 
	.header_top a:hover,
	.header_top .button,
	.header_top_inner .meta_wrap a:hover, 
	.header_top_inner .social_wrap a:hover, 
	.header_top #top_line_nav > li > a:hover,
	.header_top #top_line_nav > li.current-menu-item > a,
	.header_top #top_line_nav > li.current_page_item > a {
		color:#07a7e3;
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav > li:hover > a {
			color:#07a7e3;
		}
	}
	
	.header_top_but .cmsms_top_arrow_pixel, 
	.header_top_but .cmsms_bot_arrow_pixel {
		background-color:#07a7e3;
	}
	
	.header_top_but .cmsms_top_arrow_pixel:before, 
	.header_top_but .cmsms_top_arrow_pixel:after, 
	.header_top_but .cmsms_top_arrow_pixel span:before, 
	.header_top_but .cmsms_top_arrow_pixel span:after, 
	.header_top_but .cmsms_bot_arrow_pixel:before, 
	.header_top_but .cmsms_bot_arrow_pixel:after, 
	.header_top_but .cmsms_bot_arrow_pixel span:before, 
	.header_top_but .cmsms_bot_arrow_pixel span:after {
		border-color:#07a7e3;
	}
	/* Finish Header Top Rollover Color */
	
	
	/* Start Header Top Background Color */
	.header_top #top_line_nav > li > a > span.cmsms_count {
		color:#ffffff;
	}
	
	.header_top input[type=text]:focus,
	.header_top input[type=number]:focus,
	.header_top input[type=email]:focus,
	.header_top input[type=password]:focus,
	.header_top input[type=search]:focus,
	.header_top textarea:focus,
	.header_top {
		background-color:#ffffff;
	}
	/* Finish Header Top Background Color */
	
	
	/* Start Header Top Borders Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=search],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option {
		border-color:#e5e5e5;
	}
	
	.header_top,
	.header_top hr,
	.header_top .cmsms_divider {
		border-bottom-color:#e5e5e5;
	}
	/* Finish Header Top Borders Color */
	
	
	/* Start Header Top Dropdown Link Color */
	.header_top #top_line_nav ul li a {
		color:#151515;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav > li > a {
			color:#151515;
		}
	}
	/* Finish Header Top Dropdown Link Color */
	
	
	/* Start Header Top Dropdown Rollover Color */
	.header_top #top_line_nav ul li > a:hover,
	.header_top #top_line_nav ul li.current-menu-item > a,
	.header_top #top_line_nav ul li.current_page_item > a {
		color:#37d6c0;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav > li > a:hover,
		.header_top #top_line_nav > li.current-menu-item > a,
		.header_top #top_line_nav > li.current_page_item > a {
			color:#37d6c0;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav ul li:hover > a {
			color:#37d6c0;
		}
	}
	/* Finish Header Top Dropdown Rollover Color */
	
	
	/* Start Header Top Dropdown Background Color */
	.header_top input[type=text],
	.header_top input[type=number],
	.header_top input[type=email],
	.header_top input[type=password],
	.header_top input[type=search],
	.header_top input[type=submit],
	.header_top button,
	.header_top textarea,
	.header_top select,
	.header_top option {
		background-color:#ffffff;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top #top_line_nav {
			background-color:#ffffff;
		}
	}
	
	@media only screen and (min-width: 1024px) {
		.header_top #top_line_nav ul {
			background-color:#ffffff;
		}
	}
	/* Finish Header Top Dropdown Background Color */
	
	
	/* Start Header Top Dropdown Border Color */
	.responsive_top_nav {
		background-color:#e5e5e5;
	}
	
	@media only screen and (max-width: 1024px) {
		.header_top .header_top_outer .header_top_inner .header_top_left, 
		.header_top .header_top_outer .header_top_inner .header_top_right, 
		.header_top #top_line_nav li a, 
		.header_top #top_line_nav > li > a:hover,
		.header_top #top_line_nav > li.current-menu-item > a,
		.header_top #top_line_nav > li.current_page_item > a {
			border-color:#e5e5e5;
		}
	}
	
	.header_top #top_line_nav ul li a {
		border-top-color:#e5e5e5;
	}
	/* Finish Header Top Dropdown Border Color */
	
	
	/* Start Header Top Custom Rules */
	.header_top ::selection {
		background:#151515;
		color:#ffffff;
	}
	
	.header_top ::-moz-selection {
		background:#151515;
		color:#ffffff;
	}
	
	.header_top_inner nav > div > ul > li ul {
		-webkit-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		-moz-box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
		box-shadow:0 1px 7px 0 rgba(0, 0, 0, 0.05);
	}
	
	/* Finish Header Top Custom Rules */

/***************** Finish Header Top Color Scheme Rules ******************/

